In [1]:
5%2

1

In [5]:
int(1/2)

0

In [7]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (1.21.5)

In [8]:
a=[4,5,6,3,3,1]

In [9]:
a.sort()

In [10]:
a

[1, 3, 3, 4, 5, 6]

In [11]:
b=[1,2,2,3,1,2]

In [14]:
b.sort(reverse=True)

In [15]:
b

[3, 2, 2, 2, 1, 1]

In [28]:
b.index()

TypeError: '>' not supported between instances of 'list' and 'int'

In [29]:
s="a"

In [35]:
1%2

1

In [34]:
c

In [36]:
def utopianTree(n):
    # Write your code here
    if n==0:
        return 1
    if n==1:
        return 2
    if n>1:
        if n%2!=0:
            a=utopianTree(n-1)
            return a*a
        if n%2==0:
            b=utopianTree(n-1)+1
            return b

In [37]:
utopianTree(4)

10

In [38]:
def angryProfessor(k, a):
    # Write your code here
    b=0
    for i in range(len(a)):
        if a[i]<=0:
            b+=1
    return b

In [40]:
a=[-1,-3,4,2]
k=3
angryProfessor(k, a)

2

In [54]:
a=234
b=str(a)

In [48]:
b=list(b)

In [50]:
b.reverse()

In [51]:
b

['4', '3', '2']

In [52]:
c=str(b)

In [53]:
c

"['4', '3', '2']"

TypeError: 'str' object does not support item assignment

In [57]:
a=234

In [59]:
234%10

4

In [61]:
int(234/10)%10

3

In [62]:
len(str(234))

3

In [65]:
int(237/10)

23

In [66]:
int(23/10)

2

In [72]:
z=3
if z==int:
    print('TRue')
else:
    print('False')

False

In [68]:
def inverse(x):
        n=len(str(x))
        if n==1:
            return x 
        if n>=1:
            b=(x%10)*(10**(n-1))
            c=int(x/10)
            return b+inverse(c)

In [71]:
inverse(12)

21

In [9]:
a=[6,31415926535897932384626433832795,1,3,10,3,5]
a

[6, 31415926535897932384626433832795, 1, 3, 10, 3, 5]

In [74]:
a.insert(0,3)

In [75]:
a

[3, 1, 3, 3, 5, 6, 10, 31415926535897932384626433832795]

In [78]:
a.remove(3)

In [79]:
a

[1, 3, 5, 6, 10, 31415926535897932384626433832795]

In [80]:
c=a[0,3]

TypeError: list indices must be integers or slices, not tuple

In [3]:
19%8

3

In [2]:
2%5

2

In [4]:
380324688%352926151

27398537

In [5]:
94730870+27398537-1

122129406

In [10]:
a.reverse()

In [11]:
a

[5, 3, 10, 3, 1, 31415926535897932384626433832795, 6]

In [12]:
a.remove(3)

In [13]:
a

[5, 10, 3, 1, 31415926535897932384626433832795, 6]

In [22]:
def circularArrayRotation(a, k, queries):
    # Write your code here
    n=len(a)
    c=[]
    for i in range(k):
        temp=a[n-1]
        print(temp)
        a.reverse()
        print(a)
        a.remove(temp)
        print(a)
        a.reverse()
        print(a)
        a.insert(0,temp) 
        print(a)
    for i in queries:
        c.append(a[i])
    return a

In [23]:
a=[1,2,3]
k=2
queries=[0,1,2]
circularArrayRotation(a, k, queries)

3
[3, 2, 1]
[2, 1]
[1, 2]
[3, 1, 2]
2
[2, 1, 3]
[1, 3]
[3, 1]
[2, 3, 1]

[2, 3, 1]

In [26]:
for i in range(2,8,2):
    print(i)

2
4
6

In [27]:
a

[2, 3, 1]

In [28]:
a+a

[2, 3, 1, 2, 3, 1]

In [29]:
int(1/10)

0

In [30]:
2%10

2

In [31]:
s='ashley'

In [32]:
len(s)

6

In [33]:
s.remove('a')

AttributeError: 'str' object has no attribute 'remove'

In [35]:
s[1]==s[2]

False

In [37]:
import math
math.sqrt(5)

2.23606797749979

In [38]:
1%4

1

In [39]:
6//2

3

In [40]:
6/2

3.0

In [41]:
7//2

3

In [44]:
for i in range(1,2):
    print(i)

1

In [49]:
s='haveaniceday'
a=[] 
for i in s:
    if 97<=ord(i)<=122:
        a.append(i)

In [50]:
a

['h', 'a', 'v', 'e', 'a', 'n', 'i', 'c', 'e', 'd', 'a', 'y']

In [55]:
len(a)

12

In [70]:
a[1]

'a'

In [81]:
e=[[]*3 for x in range(4)]
k=0
for i in range(3):
    for j in range(4):
        print(k)
        print(i)
        print(j)
        print(a[k])
        e[i].append(a[k]) 
        k+=1

0
0
0
h
1
0
1
a
2
0
2
v
3
0
3
e
4
1
0
a
5
1
1
n
6
1
2
i
7
1
3
c
8
2
0
e
9
2
1
d
10
2
2
a
11
2
3
y

In [82]:
for i in range(3):
    for j in range(4):
        print(e[i][j])

h
a
v
e
a
n
i
c
e
d
a
y

In [83]:
e

[['h', 'a', 'v', 'e'], ['a', 'n', 'i', 'c'], ['e', 'd', 'a', 'y'], []]

In [59]:
e=[0 for x in range(4)]*3

In [60]:
e

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [79]:
e=[[]*3 for x in range(4)]

In [80]:
e

[[], [], [], []]

In [84]:
a=[1,2,3,4]

In [85]:
a

[1, 2, 3, 4]

In [86]:
a.reverse()

In [87]:
a

[4, 3, 2, 1]

In [88]:
arr=[[]]*4

In [89]:
arr

[[], [], [], []]

In [90]:
arr[0]

[]

In [91]:
arr[0].append(1)

In [92]:
arr

[[1], [1], [1], [1]]

In [93]:
name=input()
print(name)

rutu
rutu

In [ ]:
with t1 as (
select submission_date, hacker_id, count(submission_id) ct from submissions group  by submission_date,hacker_id
),
t2 as(
select submission_date, hacker_id,ct, rank() over(partition by submission_date order by ct,hacker_id desc ) as rk from t1
),
t3 as (
select submission_date,t2.hacker_id,name from t2 left join hackers on t2.hacker_id=hackers.hacker_id where rk=1
),
t4 as (
select submission_date, count(distinct(hacker_id)) as ct1 from submissions group by submission_date
)
select t4.submission_date, ct1, hacker_id, name from t4 left join t3 on t4.submission_date=t3.submission_date

In [96]:
df=pd.read_csv('house_price.txt')

In [95]:
import pandas as pd

In [97]:
df.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [98]:
x=3

In [102]:

for i in range(x):
    for j in range(x-i-1):
        print(' ',end='')
    for k in range(2*i+1):
        print('H',end='')
    print('\r')
for i in range(x+1):
    for j in range(((x+1)//2)-1):
        print(' ',end='')
    print('H'.center(x,'H'),end='')
    print(' '.center(x*3,' '),end='')
    print('H'.center(x,'H'),end='')
    print('\r')
for i in range((x+1)//2):
    for j in range(((x+1)//2)-1):
        print(' ',end='')
    print('H'.center(x*5,'H'),end='')
    print('\r')
for i in range(x+1):
    for j in range(((x+1)//2)-1):
        print(' ',end='')
    print('H'.center(x,'H'),end='')
    print(' '.center(x*3,' '),end='')
    print('H'.center(x,'H'),end='')
    print('\r')
for i in range(x):
    for j in range(x*4+i):
        print(' ',end='')
    for k in range(x*2-1-2*i):
        print('H',end='')
    print('\r')

  H
 HHH
HHHHH
 HHH         HHH
 HHH         HHH
 HHH         HHH
 HHH         HHH
 HHHHHHHHHHHHHHH
 HHHHHHHHHHHHHHH
 HHH         HHH
 HHH         HHH
 HHH         HHH
 HHH         HHH
            HHHHH
             HHH
              H

In [103]:
c='.|.'
for i in range(int((x-1)/2)):
    print((c*(2*i+1)).center(21,'-')) 
    
print('WELCOME'.center(21,'-'))
for i in range(int((x-1)/2)):
    j= int((x-1)/2)-i-1
    print((c*(2*j+1)).center(21,'-'))

---------.|.---------
-------WELCOME-------
---------.|.---------

In [104]:
a=[1,2,3,4,5,6,7]

In [106]:
a[0:4]

[1, 2, 3, 4]

In [107]:
a[4:]

[5, 6, 7]

In [108]:
a[4]

5

In [115]:
import re
string = 'aaaabbaabaaaa'
subString = 'aaa'

ptrn = re.compile(subString)
print(ptrn) 
m = ptrn.search(string)
print(m)
if m:
  while m:
    print(f"({m.start()}, {m.end()-1})")
    m = ptrn.search(string, m.start()+1)
        
else:
  print("(-1, -1)")

re.compile('aaa')
<re.Match object; span=(0, 3), match='aaa'>
(0, 2)
(1, 3)
(9, 11)
(10, 12)

In [116]:
arr=[[1,1,1],[1,1,1],[1,1,1]]

In [121]:
a=numpy.array(arr)
b=numpy.sum(a,axis=0)
print(b[0]*b[1])

9

In [120]:
import numpy